@import "./styles/style.scss";

body{
    background-color: $dark-gray;
    display: flex;
    justify-content: center;
}

.game {
    width: 100%;
    display: none;
}

#main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piano-svg {
    position: absolute;
    width: 920px;
    margin-left: 122px;
    filter: invert(12%) sepia(7%) saturate(16%) hue-rotate(330deg) brightness(102%) contrast(88%);
    z-index: 3;
}

.nav {
    position: absolute;
    transform: translate(-275px, 30px);
    display: flex;
    justify-content: space-around;
    z-index: 4;
}

.back-button {
    width: 50%;
    color: black;
}

.score-display {
    width: 100px;
    height: 100px;
    color: $score-yellow;
    font-size: 26px;
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(200px, 50px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-canvas {
    z-index: 2;
}

.keyboard {
    width: 600px;
    font-family: 'Overpass', sans-serif;
    color: $gray;
    position: relative;
    display: flex;
    justify-content: center;
}

.keyboard-border {
    height: 100px;
    width: 30px;
    border: 1px solid black;
    background-color: black;
}

.key {
    height: 100px;
    width: 8%;
    border: 1px solid $gray;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white-key {
    border-radius: 0 0 5px 5px;
    position: relative;
}

.black-key {
    font-size: 12px;
    width: 60%;
    background-color: black;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: -50%;
    right: -30%;
    z-index: 1;
}

.valid-key-down {
    background-color: $valid-green;
}

.invalid-key-down {
    background-color: $invalid-red;
}

.hidden {
    display: none;
}

.reveal {
    display: flex;
}

.slide {
    animation: slidein 4s;
}

@keyframes slidein {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}