@import "./styles/style.scss";

body{
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
}

.piano-svg {
    position: absolute;
}

#game {
    width: 100%;
    display: none;
}

.piano-svg {
    width: 920px;
    margin-left: 60px;
    filter: invert(12%) sepia(7%) saturate(16%) hue-rotate(330deg) brightness(102%) contrast(88%);
    z-index: 1;
}

.nav {
    width: 800px;
    display: flex;
    justify-content: space-around;
}

.back-button {
    width: 50%;
    color: black;
}

.score-display {
    color: white;
    width: 50%;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard {
    width: 600px;
    display: flex;
    justify-content: center;
}

.key {
    height: 100px;
    width: 5%;
    border: 1px solid $gray;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.valid-key-down {
    background-color: $valid-green;
}

.invalid-key-down {
    background-color: $invalid-red;
}

.hidden {
    display: none;
}