@import "./styles/style.scss";

body{
    background-color: rgb(43, 43, 43);
    display: flex;
}

#left {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    // todo: add font styling for video game score
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard {
    width: 800px;
    display: flex;
    justify-content: center;
}

.key {
    height: 250px;
    width: 5%;
    border: 1px solid $gray;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.valid-key-down {
    background-color: $valid-green;
}

.invalid-key-down {
    background-color: $invalid-red;
}