@import "./styles/style.scss";

.keyboard {
    width: 100%;
    display: flex;
    justify-content: center;
}

.key {
    height: 300px;
    width: 44px;
    border: 1px solid $gray;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.key-down {
    filter: brightness(80%);
}