@import "./styles/style.scss";

body{
    height: 100vh;
    margin: 0;
    background-color: $dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 132px;
    text-shadow: 0px 0px 15px rgb(198, 198, 147);
    color: $score-yellow;
    animation: rainbow 2s linear 0s infinite;
}

@keyframes rainbow {
    15%{
        color: rgb(255, 73, 73);
        text-shadow: 0px 0px 15px rgb(255, 73, 73);;
    }
    30%{
        color: rgb(255, 189, 66);
        text-shadow: 0px 0px 15px rgb(255, 189, 66);
    }
    45%{
        color: rgb(255, 255, 125);
        text-shadow: 0px 0px 15px rgb(255, 255, 125);
    }
    60%{
        color: rgb(118, 255, 118);
        text-shadow: 0px 0px 15px rgb(118, 255, 118);
    }
    75%{
        color: rgb(84, 84, 255);
        text-shadow: 0px 0px 15px rgb(84, 84, 255);
    }
    90%{
        color: rgb(135, 60, 188);
        text-shadow: 0px 0px 15px rgb(135, 60, 188);
    }
    100%{
        color: violet;
        text-shadow: 0px 0px 15px violet;
    }
}

.start-button, .instructions-button {
    font-family: 'Chakra Petch', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: $dark-gray;
    height: 50px;
    width: 250px;
    transform: skew(-9deg) translateX(-10px);
}

.social-link {
    color: white;
    text-decoration: none;
    font-size: 32px;
    margin: 0 12px;
}

.zoom {
	transition: transform .4s;
    transition-timing-function: cubic-bezier(0.665, 0.195, 0.260, 2.2);
}

.zoom:hover {
    transform: scale(1.5);
}

.instructions-panel {
    background-color: $dark-gray;
    color: $light-yellow;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.68);
    display: none;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
}

.instructions-left-button{
    visibility: hidden;
}

.instructions-exit-button, .instructions-left-button, .instructions-right-button {
    width: 20px;
    background: transparent;
    border: none;
    color: $light-yellow;
}

.instructions-container {
    text-align: justify;
    display: flex;
    align-items: center;
}

.instructions-container button {
    height: 20px;
}

.instructions-content {
    padding: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

.game {
    width: 100%;
    display: none;
    flex-direction: column;
}

#main {
    position: relative;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volume-slider{
    margin: 100 auto;
    width: 100px;
    z-index: 4;
    transform: translateY(15px);
}

.piano-svg {
    position: absolute;
    width: 920px;
    margin-left: 122px;
    // used filter generator https://codepen.io/sosuke/pen/Pjoqqp
    filter: invert(0%) sepia(40%) saturate(993%) hue-rotate(328deg) brightness(76%) contrast(83%);
    z-index: 3;
}

.nav {
    position: absolute;
    transform: translate(-275px, 30px);
    display: flex;
    justify-content: space-around;
    z-index: 4;
}

.back-button {
    color: black;
}

.score-display {
    width: 150px;
    height: 150px;
    color: $score-yellow;
    font-size: 48px;
    font-family: 'Chakra Petch', sans-serif;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgb(198, 198, 147);;
    background-color: rgb(5, 5, 5);
    border-radius: 50%;
    position: absolute;
    transform: translate(225px, 50px);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-point1 {
    animation: winpoint1 0.2s;
}

.lose-point1 {
    animation: losepoint1 0.2s;
}

.win-point2 {
    animation: winpoint2 0.2s;
}

.lose-point2 {
    animation: losepoint2 0.2s;
}

@keyframes winpoint1{
    0% {
        color: $score-yellow;
        font-size: 48px;
    }
    50% {
        color: $win-point-green;
        font-size: 64px;
    }
    100% {
        color: $score-yellow;
        font-size: 48px;
    }
}

@keyframes losepoint1{
    0% {
        color: $score-yellow;
        font-size: 48px;
    }
    50% {
        color: $lose-point-red;
        font-size: 64px;
    }
    100% {
        color: $score-yellow;
        font-size: 48px;
    }
}

@keyframes winpoint2{
    0% {
        color: $score-yellow;
        font-size: 48px;
    }
    50% {
        color: $win-point-green;
        font-size: 64px;
    }
    100% {
        color: $score-yellow;
        font-size: 48px;
    }
}

@keyframes losepoint2{
    0% {
        color: $score-yellow;
        font-size: 48px;
    }
    50% {
        color: $lose-point-red;
        font-size: 64px;
    }
    100% {
        color: $score-yellow;
        font-size: 48px;
    }
}

.song-canvas {
    z-index: 2;
}

.keyboard {
    width: 600px;
    font-family: 'Overpass', sans-serif;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.58);
    color: $gray;
    position: relative;
    display: flex;
    justify-content: center;
}

.keyboard-border {
    height: 100px;
    width: 30px;
    border: 1px solid black;
    background-color: black;
}

.key {
    height: 100px;
    width: 8%;
    border: 1px solid $gray;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white-key {
    border-radius: 0 0 5px 5px;
    position: relative;
}

.black-key {
    font-size: 12px;
    height: 100px;
    width: 60%;
    background-color: black;
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: -50%;
    right: -30%;
    z-index: 1;
}

.valid-key-down {
    background-color: $valid-green;
}

.invalid-key-down {
    background-color: $invalid-red;
}

.bounce1 {
    animation: bounce1 0.2s;
}

.bounce2 {
    animation: bounce2 0.2s;
}

@keyframes bounce1 {
    50% {
        height: 95px;
    }
    100%{
        height: 100px;
    }
}

@keyframes bounce2 {
    50% {
        height: 95px;
    }
    100%{
        height: 100px;
    }
}

.hidden {
    display: none;
}

.reveal {
    display: flex;
}

.slide {
    animation: slidein 4s;
}

@keyframes slidein {
    from {
        transform: translateY(-120%);
    }
    to {
        transform: translateY(0%);
    }
}

.slide-out-top {
    animation: slideouttop 1s;
}

@keyframes slideouttop {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-110%);
    }
}


.slide-left {
    animation: slideleft 2s;
}

@keyframes slideleft {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0%);
    }
}

.slide-out-right {
    animation: slideoutright 1s;
}

@keyframes slideoutright {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(120%);
    }
}